# BUILT-IN DATA TYPE

it is necessary to understand some basic
concepts about the core Python data types. Unlike domain-specific languages such as MATLAB or R, where
the default data type has been chosen for numerical work, Python is a general purpose programming language
which is also well suited to data analysis, econometrics, and statistics. For example, the basic numeric type in
MATLAB is an array (using double precision, which is useful for floating point mathematics), while the basic
numeric data type in Python is a 1-dimensional scalar which may be either an integer or a double-precision
floating point, depending on the formatting of the number when input

# Variable Names
Variable names can take many forms, although they can only contain numbers, letters (both upper and lower),
and underscores (_). They must begin with a letter or an underscore and are CaSe SeNsItIve. Additionally,
some words are reserved in Python and so cannot be used for variable names (e.g. import or for). For example,

In [1]:
x = 1.0
X = 1.0
X1 = 1.0
X1 = 1.0
x1 = 1.0
dell = 1.0
dellreturns = 1.0
dellReturns = 1.0
_x = 1.0
x_ = 1.0

are all legal and distinct variable names. Note that names which begin or end with an underscore, while legal,
are not normally used since by convention these convey special meaning.1
Illegal names do not follow these
rules.

In [ ]:
# Not allowed
x: = 1.0
1X = 1
X-1 = 1
for = 1

Multiple variables can be assigned on the same line using commas,

In [2]:
x, y, z = 1, 3.1415, 'a'

# Core Native Data Types

# Numeric
Simple numbers in Python can be either integers, floats or complex. i am not cover all Python data
types and instead focuses on those which are most relevant for numerical analysis, econometrics, and statistics.
The byte, bytearray and memoryview data types are not described.

# Floating Point (float)
The most important (scalar) data type for numerical analysis is the float. Unfortunately, not all non-complex
numeric data types are floats. To input a floating data type, it is necessary to include a . (period, dot) in the
expression. This example uses the function type() to determine the data type of a variable.

In [3]:
x=1
type(x)

int

In [4]:
x=1.0
type(x)

float

In [5]:
x=float(1)
type(x)

float

this example shows that using the expression that x = 1 produces an integer-valued variable while x = 1.0
produces a float-valued variable. Using integers can produce unexpected results and so it is important to include
“.0” when expecting a float

# Complex (complex)
Complex numbers are also important for numerical analysis. Complex numbers are created in Python using j
or the function complex().

In [6]:
x=1j
type(x)

complex

In [7]:
x=2+3j
type(x)

complex

In [8]:
x=complex(1)
x

(1+0j)

# Integers (int)
Floats use an approximation to represent numbers which may contain a decimal portion. The integer data
type stores numbers using an exact representation, so that no approximation is needed. The cost of the exact
representation is that the integer data type cannot express anything that isn’t an integer, rendering integers of
limited use in most numerical work.
Basic integers can be entered either by excluding the decimal (see float), or explicitly using the int()
function. The int() function can also be used to convert a float to an integer by round towards 0.

In [9]:
x=1
type(x)

int

In [10]:
x=1.0
type(x)

float

In [11]:
x=int(x)

In [12]:
type(x)

int

python integers support have unlimited range since the amount of bits used to store an integer is dynamic

In [13]:
x=1
x

1

In [14]:
type(x)

int

In [16]:
x=2**127+2**65               # ** is denote exponentiation , y^64 in tax

x

170141183460469231768580791863303208960

# Boolean (bool)
The Boolean data type is used to represent true and false, using the reserved keywords True and False

In [17]:
x=True
type(x)

bool

In [19]:
x=bool(1)
type(x)

x

True

In [21]:
x=bool(10)
x

True

# Strings (str)
Strings are not usually important for numerical analysis, although they are frequently encountered when dealing
with data files, especially when importing or when formatting output for human consumption. Strings are
delimited using single quotes ('') or double quotes ("") but not using combination of the two delimiters (i.e.,
do not use '") in a single string, except when used to express a quotation

In [22]:
x="abs"

type(x)

In [24]:
y="A quotation!"
type(y)

str

# Slicing Strings

In [25]:
text="python string are sliceble"
text[0]

'p'

In [26]:
text[10]

'i'

In [27]:
l=len(text)

In [29]:
text[l]

IndexError: string index out of range

In [30]:
text[l-1]

'e'

In [31]:
text[:10]

'python str'

In [33]:
text[10:]

'ing are sliceble'

# Lists are a built-in container data type which hold other data. A list is a collection of other objects – floats,
integers, complex numbers, strings or even other lists. Lists are essential to Python programming and are used
to store collections of other values. For example, a list of floats can be used to express a vector (although the
NumPy data type array is better suited to working with collections of numeric values). Lists also support
slicing to retrieve one or more elements. Basic lists are constructed using square braces, [], and values are
separated using commas.

In [34]:
x=[]
type(x)

list

In [35]:
x=[1,2,3,4]
x

[1, 2, 3, 4]

In [37]:
#2-dimensional list (list of lists)
x=[[1,2,3,4],[5,6,7,8]]
x

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [39]:
#jagged list , not rectangular
x=[[1,2,3,4],[5,6,7]]
x

[[1, 2, 3, 4], [5, 6, 7]]

In [40]:
#mixed data types
x=[1,1.0,1+0j,"one",None,True]

In [41]:
x

[1, 1.0, (1+0j), 'one', None, True]

These examples show that lists can be regular, nested and can contain any mix of data types including other
list

# Slicing Lists

In [42]:
x=[0,1,2,3,4,5,6,7,8,9]
x[0]

0

In [43]:
x[5]

5

In [44]:
x[10] #error

IndexError: list index out of range

In [45]:
x[:4]

[0, 1, 2, 3]

In [46]:
x[4:]

[4, 5, 6, 7, 8, 9]

In [47]:
x[1:4]

[1, 2, 3]

In [48]:
x[-0]

0

In [49]:
x[-1]

9

In [50]:
x[-10:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

List can be multidimensional, and slicing can be done directly in higher dimensions. For simplicity, consider
slicing a 2-dimensional list x = [[1,2,3,4], [5,6,7,8]]. If single indexing is used, x[0] will return the
first (inner) list, and x[1] will return the second (inner) list. Since the list returned by x[0] is sliceable, the
inner list can be directly sliced using x[0][0] or x[0][1:4].

In [51]:
x=[[1,2,3,4],[5,6,7,8]]

In [52]:
x[0]

[1, 2, 3, 4]

In [53]:
x[1]

[5, 6, 7, 8]

In [55]:
x[0][1:4]

[2, 3, 4]

In [56]:
x[1][-4:-1]

[5, 6, 7]

# List Functions
A number of functions are available for manipulating lists. The most useful are

In [57]:
x=[0,1,2,3,4,5,6,7,8,9]
x.append(0)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [58]:
len(x)

11

In [59]:
x.extend([11,12,13])
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13]

In [60]:
x.pop(1)

1

In [61]:
x.remove(0)

In [62]:
x

[2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13]

In [63]:
x

[2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13]

Elements can also be deleted from lists using the keyword del in combination with a slice

In [64]:
x=[0,1,2,3,4,5,6,7,8,9]
del x[0]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
x[:3]

[1, 2, 3]

In [66]:
del x[1:3]
x

[1, 4, 5, 6, 7, 8, 9]

In [70]:
del x[:]
x

[]

# Tuples (tuple)
A tuple is virtually identical to a list with one important difference – tuples are immutable. Immutability means
that a tuple cannot be changed once created. It is not possible to add, remove, or replace elements in a tuple.
However, if a tuple contains a mutable data type, for example a tuple that contains a list, the contents mutable
data type can be altered.
Tuples are constructed using parentheses (()) in place of the square brackets ([]) used to create lists. Tuples
can be sliced in an identical manner as lists. A list can be converted into a tuple using tuple() (Similarly, a
tuple can be converted to list using list()).

In [71]:
x=(0,1,2,3,4,5,6,7,8,9)
type(x)

tuple

In [72]:
x[0]

0

In [73]:
x[-10:-5]

(0, 1, 2, 3, 4)

In [74]:
x=list(x)
type(x)

list

In [75]:
x=tuple(x)
type(x)

tuple

In [76]:
x=([1,2],[3,4])

In [77]:
x[0][1]=-10

In [78]:
x #contents can chnage, elements cannot

([1, -10], [3, 4])

Note that tuples containing a single element must contain a comma when created, so that x = (2,) is assign
a tuple to x, while x=(2) will assign 2 to x. The latter interprets the parentheses as if they are part of a
mathematical formula rather than being used to construct a tuple. x = tuple([2]) can also be used to create a
single element tuple. Lists do not have this issue since square brackets do not have this ambiguity.

In [79]:
x=(2)
type(x)

int

In [80]:
x=(2,)
type(x)

tuple

In [81]:
x=tuple([12])
type(x)

tuple

# Tuple Functions
Tuples are immutable, and so only have the methods index and count, which behave in an identical manner to
their list counterparts.

# Dictionary (dict)
Dictionaries are encountered far less frequently than then any of the previously described data types in numerical Python. They are, however, commonly used to pass options into other functions such as optimizers, and
so familiarity with dictionaries is important. Dictionaries in Python are composed of keys (words) and values.
definitions). Dictionaries keys must be unique immutable data types (e.g. strings, the most common key, integers, or tuples containing immutable types), and values can contain any valid Python data type.3 Values are
accessed using keys.

In [82]:
data={"age":34,"children":[1,2],1:"apple"}
type(data)

dict

In [83]:
data["age"]

34

Values associated with an existing key can be updated by making an assignment to the key in the dictionary.

In [84]:
data["age"]="xyz"
data["age"]

'xyz'

New key-value pairs can be added by defining a new key and assigning a value to it.

In [85]:
data["name"]="abc"
data

{'age': 'xyz', 'children': [1, 2], 1: 'apple', 'name': 'abc'}

Key-value pairs can be deleted using the reserved keyword del.

# Sets (set, frozenset)
Sets are collections which contain all unique elements of a collection. set and frozenset only differ in that the
latter is immutable (and so has higher performance), and so set is similar to a unique list while frozenset
is similar to a unique tuple . While sets are generally not important in numerical analysis, they can be very
useful when working with messy data – for example, finding the set of unique tickers in a long list of tickers

The code below demonstrates the use of set. Note that 'MSFT' is repeated in the list used to initialize the
set, but only appears once in the set since all elements must be unique

In [88]:
x=set(["msft","goog","apple","hpq","mfst"])

In [89]:
x

{'apple', 'goog', 'hpq', 'mfst', 'msft'}

In [90]:
x.add("csco")

In [91]:
x

{'apple', 'csco', 'goog', 'hpq', 'mfst', 'msft'}

In [94]:
y=set(["xom","goog"])
x.intersection(y)

{'goog'}

In [96]:
x=x.union(y)
x

{'apple', 'csco', 'goog', 'hpq', 'mfst', 'msft', 'xom'}

The code below demonstrates the use of set. Note that 'MSFT' is repeated in the list used to initialize the
set, but only appears once in the set since all elements must be unique

# range

In [97]:
x=range(10)
type(x)

range

In [98]:
print(x)

range(0, 10)

In [99]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
x=range(3,10)
list(x)

[3, 4, 5, 6, 7, 8, 9]

In [103]:
x=range(3,10,3)

In [104]:
list(x)

[3, 6, 9]

range is not technically a list, which is why the statement print(x) returns range(0,10). Explicitly
converting with list produces a list which allows the values to be printed. range is technically an iterator
which does not actually require the storage space of a list

# OrderedDict
When using a standard Python dict, items order is not guaranteed. OrderedDict addresses this frequent shortcoming by retaining a list of the keys inserted into the dictionary in the order in which they have been inserted.
The order is also preserved when deleting keys from an OrderedDict.

In [107]:
from collections   import OrderedDict
od=OrderedDict()
od["key1"]=1
od["key2"]="a"
od["key3"]="alpha"
plain=dict(od)
print(list(od.keys()))

['key1', 'key2', 'key3']

In [108]:
print(list(plain.keys()))

['key1', 'key2', 'key3']

In [109]:
del od["key1"]
print(list(od.keys()))

['key2', 'key3']

In [110]:
od["key1"]="some other values"
print(list(od.keys()))

['key2', 'key3', 'key1']

# defaultdict
By default attempting to access a key in a dictionary that does not exist will produce an error. There are
circumstances where this is undesirable, and when a key is encountered that doesn’t exist, a default value
should be added to the dictionary and returns. One particularly useful example of this behavior is when making
keyed lists – that is, grouping like elements according to a key in a list. If the key exists, the elements should
be appended to the existing list. If the key doesn’t exist, the key should be added and a new list containing the
new element should be inserted into the disctionary. defaultdict enables this exact scenario by accepting a
callable function as an argument. When a key is found, it behaved just like a standard dictionary. When a key
isn’t found, the output of the callable function is assigned to the key. This example uses list to add a new list
whenever a key is not found.

In [111]:
d={}
d["one"].append("an item")  #error

KeyError: 'one'

In [112]:
from collections import defaultdict
dd=defaultdict(list)
dd["one"].append("first")
dd["one"].append("second")
dd["one"].append("third")
print(dd)

defaultdict(<class 'list'>, {'one': ['first', 'second', 'third']})

# Python and Memory Management
Python uses a highly optimized memory allocation system which attempts to avoid allocating unnecessary
memory. As a result, when one variable is assigned to another (e.g. to y = x), these will actually point to the
same data in the computer’s memory. To verify this, id() can be used to determine the unique identification
number of a piece of dat

In [113]:
x=1
y=x
id(x)

3069019842864

In [114]:
id(y)

3069019842864

In [115]:
x=2.0
id(x)

3069149099984

In [116]:
id(y)

3069019842864

In the above example, the initial assignment of y = x produced two variables with the same ID. However, once
x was changed, its ID changed while the ID of y did not, indicating that the data in each variable was stored
in different locations. This behavior is both safe and efficient and is common to the basic Python immutable
types: int, float, complex, string, tuple, frozenset and range.

# Example: Lists

Lists are mutable and so assignment does not create a copy , and so changes to either variable affect both

In [117]:
x=[1,2,3]
y=x
y[0]=-10
y

[-10, 2, 3]

In [118]:
x

[-10, 2, 3]

Slicing a list creates a copy of the list and any immutable types in the list – but not mutable elements in the list

In [119]:
x=[1,2,3]
y=x[:]
id(x)

3069144968960

In [120]:
id(y)

3069146444416

When lists are nested or contain other mutable objects (which do not copy), slicing copies the outermost list to
a new ID, but the inner lists (or other objects) are still linked. In order to copy nested lists, it is necessary to
explicitly call deepcopy(), which is in the module copy.

In [121]:
import copy as cp
x=[[0,1],[2,3]]
y=cp.deepcopy(x)

In [122]:
y[0][0]=-10.0
y

[[-10.0, 1], [2, 3]]

In [123]:
x

[[0, 1], [2, 3]]

# excercise

1. Enter the following into Python, assigning each to a unique variable name:
(a) 4

(b) 3.1415

(c) 1.0

(d) 2+4j

(e) 'Hello'

(f) 'World'

In [124]:
a=3.14
type(a)

float

In [125]:
b=1.0
type(b)

float

In [127]:
c=2+4j
type(c)

complex

In [128]:
d="hello"
type(d)

str

In [129]:
e="world"
type(e)

str

In [130]:
ex = 'Python is an interesting and useful language for numerical computing!'

# (a) Extract "Python"
substring_a = ex[0:6]

# (b) Extract "!"
substring_b = ex[-1]

# (c) Extract "computing"
substring_c = ex[-11:-1]

# (d) Extract "in"
substring_d = ex[7:9]

# (e) Reverse the entire string
substring_e = ex[::-1]

# (f) Extract "nohtyP" (Python reversed)
substring_f = ex[5::-1]

# (g) Extract "Pto sa neetn n sfllnug o ueia optn!"
substring_g = ex[6:-1] + ex[2:4] + ex[10:14] + ex[26:29] + ex[11:13] + ex[15] + ex[22] + ex[23:26]

# Print the extracted substrings
print("a) ", substring_a)
print("b) ", substring_b)
print("c) ", substring_c)
print("d) ", substring_d)
print("e) ", substring_e)
print("f) ", substring_f)
print("g) ", substring_g)

a)  Python
b)  !
c)   computing
d)  is
e)  !gnitupmoc laciremun rof egaugnal lufesu dna gnitseretni na si nohtyP
f)  nohtyP
g)   is an interesting and useful language for numerical computingthan ind n tng a

3.What are the direct 2 methods to construct a tuple that has only a single item? How many ways are there
to construct a list with a single item?

 1.Using a comma:
You can create a tuple with a single item by placing a comma (,) after the item. For example:

In [132]:
single_item_tuple = (42,)

2.Using the tuple() constructor:
You can also use the tuple() constructor to create a tuple with a single item. For example:

In [133]:
single_item_tuple = tuple([42])

3.Using square brackets:
You can create a list with a single item by enclosing the item in square brackets. For example3

In [135]:
single_item_list = [42]

4.. Construct a nested list to hold the array

1 .5
.5 1 
so that item [i][j] corresponds to the position in the array (Remember that Python uses 0 indexing).

In [137]:
# Create a nested list to represent the 2x2 array
nested_list = [[1, 0.5],
              [0.5, 1]]

# Accessing elements:
# To access element at [i][j], you can use nested_list[i][j]

# Example: Accessing the element at row 0, column 1 (Python uses 0-indexing)
element_at_01 = nested_list[0][1]

# Example: Accessing the element at row 1, column 0
element_at_10 = nested_list[1][0]

# Printing the elements
print("Element at [0][1]:", element_at_01)
print("Element at [1][0]:", element_at_10)

Element at [0][1]: 0.5
Element at [1][0]: 0.5

5.. Assign the array you just created first to x, and then assign y=x. Change y[0][0] to 1.61. What happens
to x?

In [138]:
x = [[1, 0.5], [0.5, 1]]
y = x

In [140]:
y[0][0]=1.61

In [141]:
y

[[1.61, 0.5], [0.5, 1]]

6. Next assign z=x[:] using a simple slice. Repeat the same exercise using y[0][0] = 1j. What happens
to x and z ? What are the ids of x, y and z? What about x[0], y[0] and z[0]?

In [143]:
x = [[1.61, 0.5], [0.5, 1]]
y = [[1.61, 0.5], [0.5, 1]]
z = x[:]
y[0][0] = 1j
x = [[1j, 0.5], [0.5, 1]]
y = [[1j, 0.5], [0.5, 1]]
z = [[1j, 0.5], [0.5, 1]]

id_x = id(x)
id_y = id(y)
id_z = id(z)

id_x0 = id(x[0])
id_y0 = id(y[0])
id_z0 = id(z[0])

print("ID of x:", id_x)
print("ID of y:", id_y)
print("ID of z:", id_z)

print("ID of x[0]:", id_x0)
print("ID of y[0]:", id_y0)
print("ID of z[0]:", id_z0)

ID of x: 3069146657792
ID of y: 3069146657408
ID of z: 3069146649920
ID of x[0]: 3069146640320
ID of y[0]: 3069146639744
ID of z[0]: 3069146656960

 How could you create w from x so that w can be changed without affecting x?

In [144]:
import copy

x = [[1j, 0.5], [0.5, 1]]

# Create a deep copy of x
w = copy.deepcopy(x)

# Now, w is a completely independent copy of x

1. Initialize a list containing 4, 3.1415, 1.0, 2+4j, 'Hello', 'World'. How could you:
    
(a) Delete 1.0 if you knew its position? What if you didn’t know its position?

(b) How can the list [1.0, 2+4j, 'Hello'] be added to the existing list?

(c) How can the list be reversed?

(d) In the extended list, how can you count the occurrence of 'Hello'?

In [148]:
my_list = [4, 3.1415, 1.0, 2+4j, 'Hello', 'World']

# If you know the position (index) of 1.0 is 2
del my_list[2]

# Now, my_list will be: [4, 3.1415, 2+4j, 'Hello', 'World']
#my_list.remove(1.0)

# This will remove the first occurrence of 1.0 from the list, regardless of its position.
my_list.extend([1.0, 2+4j, 'Hello'])
my_list += [1.0, 2+4j, 'Hello']
my_list.reverse()

9.Construct a dictionary with the keyword-value pairs: 'alpha' and 1.0, 'beta' and 3.1415, 'gamma'
and -99. How can the value of alpha be retrieved?

In [149]:
my_dict = {'alpha': 1.0, 'beta': 3.1415, 'gamma': -99}

In [150]:
alpha_value = my_dict['alpha']

10. Convert the final list at the end of problem 11 to a set. How is the set different from the list?

In [151]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)

print("List:", my_list)
print("Set:", my_set)

List: [1, 2, 2, 3, 4, 4, 5]
Set: {1, 2, 3, 4, 5}